@mixin generate-utilities($utilities) {
  @each $name, $utility in $utilities {
    $property: map-get($utility, property);

    // Use `class` as the CSS class prefix if provided.
    // Otherwise, fall back to the utility name (`$name`).
    //
    // This allows custom prefixes like `.flex-row`
    // and prevents invalid selectors like `.-0`,
    // generating `.order-0` instead.
    //
    $class: if(
        map-has-key($utility, class),
        map-get($utility, class),
        $name
    );

    $values: map-get($utility, values);

    @each $key, $value in $values {
      .#{$class}-#{$key} {
        #{$property}: #{$value};
      }
    }
  }
}
